select {
    background-color: rgba($color: #000000, $alpha: 0.0);
	border: 0.3vmin solid #fafafa;
	border-radius: 0.4vmin;

	color: inherit;
	font-family: inherit;
	font-weight: 400;
	font-size: 2vmin;
	letter-spacing: 0.2vmin;

	transition: border-color 0.1s ease-in-out;

	&:focus { border: 0.3vmin solid #f7d6d6; outline: none; }

    option{
        background-color: #101010;
    }
}